extends layout

block content
    div.l-comments.comments.hide
    div.m-comments.comments.hide
    div.r-comments.comments.hide
    div#player.playerModal.hide.fade
        button.close ×
        div.player
            div.play.plpo 
                span pause
    div.myContainer
        div.row-fluid.header
                div.navbar-inverse
                    div.navbar-inner
                        div.myLeft    
                            a.brad(href="#") 
                                    span N
                                    span !
                                    span MP
                         div.myRight   
                            a#connect.bit.button(href="#")
                                img(src="http://connect.soundcloud.com/2/btn-connect-sc-l.png")
                            div.logged-in(style="display:none;")    
                                div#avatar.user-img
                                    img
                                div.user-info
                                    p 
                                        span#username    
                                    p.track   

         div.row-fluid
            div.sidebar
                ul.sidebar-nav
                    li.active
                        a 
                            p.fui-volume-24 
                            span Listen
                    li
                        a 
                            p.fui-eye-24
                            span Discover
                    li 
                        a 
                            p.fui-bubble-24
                            span Share    
       
                div.remote
                    a 
                        i.iphone
                        span Remote
                div.a-nav
                    ul.sub-list
                        li.filter#artists.active
                            a artists
                        li.filter#tracks 
                            a tracks
                        li.filter#favorites 
                            a favorites
                    ul.sort-tracks.hide
                        li.filter.sort-text Sort By:
                        li.filter#score
                            a Score
                        li.filter#name
                            a Name
                        li.filter#download
                            a Downloadable    
                    
            div.listen
                div.l-holder
            div.organize
                span.organise-title Organize
                

