doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
    script(type='text/javascript', src='/js/jquery-1.9.1.min.js');
    script(type='text/javascript', src='//connect.soundcloud.com/sdk.js');
    script(type='text/javascript', src='/js/main.js');

  body
    block content
    