
.myContainer{
    width:100%;
    height: 100%;
}
.myContainer .header{
    height: 40px;
}
.myContainer .navbar-inner{
    border-radius: 0;
}
.myLeft{
    float:left;
}
.myRight{
    float:right;
}
.navbar-inner .myRight{
    margin: 5px;
}
.navbar-inner .myLeft{
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    margin: 0px 7px;
}
.navbar-inner .myLeft a{
    text-decoration: none;
    color: #FEFEFE;
    font-size: 32px;
}
.logged-in{
    color:#c4cad0;
}
.logged-in p{
    margin: 0;
    line-height: 1;
}
.user-img{
    float:left;
}
.user-info{
    float: right;
}
.user-img img{
    width: 30px;
    margin-right: 5px;
}
.logged-in p.track{
    font-size: 11px;
}
.myContainer .sidebar{
    height: 100%;
    width: 8%;
    background: #34495e;
    position: fixed;
    left: 0;
    top: 40px;
    text-align: center;

}
.remote{
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 30px 0;
    background: #3498DB;
}
.remote a{
    color: #FEFEFE;
    text-decoration: none;
    font-size: 24px;
}
.wrapper{
    position: fixed;
    width: 92%;
    height: 94%;
    right: 0;
}
ul.sidebar-nav{
    list-style: none;
    width: 100%;
    margin:0;
}
ul.sidebar-nav li{
    background: #3498DB;
    padding: 20px 0;
    margin: 0 10px 10px;
    border-radius: 2px;

}
ul.sidebar-nav p{
    margin: 0;
    padding: 0;
}
ul.sidebar-nav li.active{
    background: #E74C3C;
}
ul.sidebar-nav li a{
    color:#FEFEFE;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}
.a-nav ul.sub-list{
    list-style: none;
    margin-top: 7px;
    position: fixed;
    width: 315px;
    left: 38%;
    margin-left: -141px;
}
.a-nav  ul.sub-list li{
    display: inline;
    cursor: pointer;
}
.a-nav  ul.sub-list a{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    padding: 7px 20px;
    background: #2980B9;
    margin: -2px;
}
.a-nav  ul.sub-list li.active a{
    background: #E74C3C;
}
.listen, .organize, .a-nav {
    margin-left:0;
}
.s-block{
    background-color: #34495e;
    border-radius: 2px;
    padding: 10px;
    color: white;
    height: 115px;
    width: 344px;
    float: left;
    margin: 2px;
}
.s-block img{
    border: 6px solid white;
    float:left;
    width: 100px;
    height: 100px;
}
.s-block .text{
    float:left;
    margin-left: 10px;
}
.s-block .text h2{
    font-size: 18px;
    width: 222px;
    line-height: 1;
    font-weight: lighter;
    margin-bottom: 16px;
}
.s-block p{
    color: #ccc;
    line-height: 1;
    margin: 0;
}
.organise-title{
    font-size: 18px;
    text-transform: uppercase;
    background: #3498DB;
    color: white;
    font-weight: lighter;
    padding: 10px 37%;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
}
.organize{
    position: fixed;
    height: 100%;
    width: 25%;
    right: 0;
    text-align: center;
    background: #34495e;
    top: 40px;
    border-top-left-radius: 2px;
}
.listen{
    width: 68%;
    height: 85%;
    background: #ecf0f1;
    position: fixed;
    margin-left: 8%;
    z-index: -1;
    overflow-y: auto;
    top: 74px;
    overflow-x: hidden;
}
.a-nav{
    position: fixed;
    top: 40px;
    left: 10%;
}
.l-holder{
    margin-left: -344px;
    left: 46%;
    position: absolute;
}
.playerModal{
    background: url(../images/casette.png);
    height: 353px;
    width: 570px;
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 1050;
    margin-left: -284px;
}
.info-block{
    position: absolute;
    bottom: 8px;
    left: 50px;
    width: 480px;
}
.info-block img{
    border: 4px solid white;
    float: left;
    width: 50px;
    height: 50px;
}

.info-block h2{
    float: left;
    margin-left: 12px;
    margin-top: 0px;
    width: 404px;
    line-height: 1;
    font-size: 20px;
    font-weight: lighter;
}
.info-block p{
    float: left;
    margin: 0 0 0 13px;
    padding: 0;
    font-size: 13px;
    color: #999;
    font-weight: lighter;
}
.comments{
    position: fixed;
    z-index: 99999
}
.comments .comment{
    color: #34495e;
    padding: 14px;
    font-size: 22px;
    font-weight: lighter;
}
.l-comments{
    top:15%;
    left:0;
    width: 25%;
    height: 100%;
    text-align: left;
}
.r-comments{
    top:15%;
    right:0;
    width: 25%;
    height: 100%;
    text-align: right;
}
.m-comments{
    top:0;
    width: 500px;
    left:50%;
    height: 10%;
    margin-left: -250px;
    text-align: center;
}