
.myContainer{
    width:100%;
    height: 100%;
}
.myContainer .header{
    height: 40px;
}
.myContainer .navbar-inner{
    border-radius: 0;
}
.myLeft{
    float:left;
}
.myRight{
    float:right;
}
.navbar-inner .myRight{
    margin: 11px;
}
.navbar-inner .myLeft{
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    margin: 9px 0px 4px 13px;
}
.navbar-inner .myLeft a{
    text-decoration: none;
    color: #FEFEFE;
    font-size: 32px;
}
.logged-in{
    color:#c4cad0;
}
.logged-in p{
    margin: 0;
    line-height: 1;
}
.user-img{
    float:left;
}
.user-info{
    float: right;
}
.user-img img{
    width: 30px;
    margin-right: 5px;
}
.logged-in p.track{
    font-size: 11px;
}
.myContainer .sidebar{
    height: 100%;
    width: 8%;
    background: #34495e;
    position: fixed;
    left: 0;
    top: 51px;
    text-align: center;
}
.remote{
    position: absolute;
    bottom: 51px;
    width: 100%;
    padding: 12px 0;
    background: #3498DB;
    font-weight: lighter;
    text-transform: uppercase;
    cursor:pointer;
}
.remote:hover{
    background: #E74C3C;
}
.remote a{
    color: #FEFEFE;
    text-decoration: none;
    font-size: 18px;
}
.remote a:hover{
    color: #34495e;
}
.wrapper{
    position: fixed;
    width: 92%;
    height: 94%;
    right: 0;
}
ul.sidebar-nav{
    list-style: none;
    width: 100%;
    margin: 52px 0px;
}
ul.sidebar-nav li{
    background: #3498DB;
    padding: 20px 0;
    margin: 0 10px 10px;
    border-radius: 2px;
    cursor: pointer;
}
ul.sidebar-nav li:hover{
    background: #E74C3C;
}
ul.sidebar-nav p{
    margin: 0;
    padding: 0;
}
ul.sidebar-nav li.active{
    background: #E74C3C;
}
ul.sidebar-nav li a{
    color:#FEFEFE;
    text-decoration: none;
    font-size: 16px;
    font-weight: lighter;
}
.a-nav ul.sub-list{
    list-style: none;
    margin-top: 7px;
    position: fixed;
    width: 315px;
    left: 38%;
    margin-left: -141px;
}
.a-nav  ul.sub-list li, ul.sort-tracks li{
    display: inline;
    cursor: pointer;
}
.a-nav  ul.sub-list a{
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    padding: 7px 20px;
    background: #2980B9;
    margin: -2px;
}
.a-nav  ul.sub-list li.active a{
    background: #E74C3C;
}
.sort-tracks{
    list-style: none;
    margin-top: 33px;
    position: fixed;
    width: 331px;
    left: 38%;
    margin-left: -145px;
    z-index: 99999;
}
.sort-tracks li.sort-text{
    margin-right: 9px;
    color: #999;
}
.sort-tracks li.filter a:hover,  ul.sub-list li a:hover{
    background: #E74C3C;
}
.sort-tracks li.filter a.active{
    background: #E74C3C;
}

.sort-tracks li.filter a{
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    padding: 4px 14px;
    background: #2980B9;
    margin: -3px;
}
.listen, .organize, .a-nav {
    margin-left:0;
}
.s-block{
    background-color: #34495e;
    border-radius: 2px;
    padding: 10px;
    color: white;
    height: 115px;
    width: 344px;
    float: left;
    margin: 2px;
}
.s-block img{
    border: 6px solid white;
    float:left;
    width: 100px;
    height: 100px;
}
.s-block .text{
    float:left;
    margin-left: 10px;
}
.s-block .text h2{
    font-size: 18px;
    width: 222px;
    line-height: 1;
    font-weight: lighter;
    margin-bottom: 16px;
}
.s-block p{
    color: #ccc;
    line-height: 1;
    margin: 0;
}
.s-block:hover{
    background: #E74C3C;
    cursor: pointer;
}
.organise-title{
    font-size: 18px;
    text-transform: uppercase;
    background: #3498DB;
    color: white;
    font-weight: lighter;
    padding: 10px 37%;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
}
.organize{
    position: fixed;
    height: 100%;
    width: 25%;
    right: 0;
    text-align: center;
    background: #34495e;
    top: 51px;
    border-top-left-radius: 2px;
}
.listen{
    width: 68%;
    height: 85%;
    background: #ecf0f1;
    position: fixed;
    margin-left: 8%;
    z-index: -1;
    overflow-y: auto;
    top: 100px;
    overflow-x: hidden;
}
.a-nav{
    position: fixed;
    top: 40px;
    left: 10%;
}
.l-holder{
    margin-left: -344px;
    left: 46%;
    position: absolute;
}
.playerModal{
    background: url(../images/casette.png);
    height: 353px;
    width: 570px;
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 1050;
    margin-left: -284px;

}
.info-block{
    position: absolute;
    bottom: 8px;
    left: 50px;
    width: 480px;
}
.info-block img{
    border: 4px solid white;
    float: left;
    width: 50px;
    height: 50px;
}

.info-block h2{
    float: left;
    margin-left: 12px;
    margin-top: 0px;
    width: 404px;
    line-height: 1;
    font-size: 20px;
    font-weight: lighter;
}
.info-block p{
    float: left;
    margin: 0 0 0 13px;
    padding: 0;
    font-size: 13px;
    color: #999;
    font-weight: lighter;
}
.comments{
    position: fixed;
    z-index: 99999
}
.comments .comment{
    color: #34495e;
    padding: 14px;
    font-size: 22px;
    font-weight: lighter;
}
.comments{
    display: none;
}
.l-comments{
    top:15%;
    left:0;
    width: 25%;
    height: 100%;
    text-align: left;
}
.r-comments{
    top:15%;
    right:0;
    width: 25%;
    height: 100%;
    text-align: right;
}
.m-comments{
    top:0;
    width: 500px;
    left:50%;
    height: 10%;
    margin-left: -250px;
    text-align: center;
}
.iphone{
    background-image: url(../img/iphone.png);
    display: inline-block;
    width: 13px;
    height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: 16px;
    margin-right: 16px;
}
.player .play span, .player .pause span{
    font-size: 32px;
    font-weight: lighter;
    text-transform: uppercase;
    opacity: 0.9;   
}
.player .play{
    position: absolute;
    left:50%;
    margin-left: -50px;
    top:150px;
    cursor: pointer;
}
.player .pause{
    position: absolute;
    left:50%;
    margin-left: -38px;
    top:150px;
    cursor: pointer;
}
.player .play:hover{
    color:#E74C3C;
}
.player .pause{
    color:#E74C3C;
}
.icon-arrow-down{
    opacity: 0.5;
}
a.download-track{
    position: absolute;
    right: -27px;
    bottom: -2px;
    text-decoration: none;
    color: #999;
    font-weight: lighter;
    opacity: 0.8;
}
a.download-track:hover{
    color:#777;
    opacity:1;    
}
.loader-gif img{
    height: 40px;
    width: 40px;
}
.loader-gif-left{
    position: absolute;
    left: 30%;
    margin-left: -22px;
    margin-top: 43px;
    width: 40px;
    opacity:0.6;
}
.loader-gif-right{
    position: absolute;
    right: 25%;
    margin-left: -22px;
    margin-top: 43px;
    width: 40px;
    opacity:0.6;
}
.k7-circle {
    position: absolute;
    left: 57px;
    top: 50px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #000;
    opacity: 0.1;
    z-index: -1;
}
#waveform{
    position: absolute;
    top: 145px;
    left: 92px;
}
.playerModal h2.artist-name{
    margin-top: 66px;
    text-align: center;
    height: 40px;
    color: white;
}
#duration{
    position: absolute;
    bottom: 74px;
    right: 32px;
}
.track_duration{
    margin-left: 10px;
}